
<div id="modal-here" x-show="newReserveModal.isOpen()" class="relative z-50">
  <div @click="newReserveModal.close()" class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
  <div class="fixed inset-0 z-10 overflow-y-auto">
    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
      <div @click.outside="newReserveModal.close()"
        class="relative z-30 transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
        <div class="shadow-sm bg-gradient-to-b from-blue-100 to-blue-50 px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
          <div class="sm:flex sm:items-center">
            <svg class="text-blue-500" xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem"
              fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
              <path
                d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z" />
            </svg>
            <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
              <h3 class="text-lg font-semibold leading-6 text-gray-900" id="modal-title">
                Nova Reserva
              </h3>
            </div>
          </div>
        </div>
        <form hx-post="{{ url_for('reserve.store') }}" hx-target="#tbody_content" hx-swap="beforeend transition:true"
          x-on:htmx:after-request="if(event.detail.successful){ newReserveModal.close(); toastService.success('Sala reservada com sucesso!') } else { toastService.error(event.detail.xhr.responseText) }"
          class="px-4 pb-4 sm:px-6 sm:pb-4">
          <div class="p-5">
            <div class="mt-2 bg-none">
              <div class="flex items-center justify-between">
                <label for="user" class="block text-sm font-medium leading-6 text-gray-900">Nome<span
                    class="text-red-600 font-bold"> *</span></label>
              </div>
              <div class="mt-2">
                <input name="user" onkeydown="return /[^\d]/i.test(event.key)" required type="text" id="user"
                  placeholder="Insira o nome do responsável"
                  class="pl-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6" />
              </div>
            </div>

            <div class="mt-2 bg-none">
              <div class="flex items-center justify-between">
                <label for="room" class="block text-sm font-medium leading-6 text-gray-900">Número da Sala<span
                    class="text-red-600 font-bold"> *</span></label>
              </div>
              <div class="mt-2">
                <input name="room" required type="number" id="room" placeholder="Insira o número da Sala"
                  class="pl-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6" />
              </div>
            </div>

            <div class="mt-2 grid grid-cols-6 gap-3">
              <div class="mt-2 bg-none col-span-4">
                <div class="flex items-center justify-between">
                  <label for="date" class="block text-sm font-medium leading-6 text-gray-900">Data<span
                      class="text-red-600 font-bold"> *</span></label>
                </div>
                <input name="date" required type="date" id="date"
                  class="px-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6" />
              </div>
              <div class="mt-2 bg-none col-span-2">
                <div class="flex items-center justify-between">
                  <label for="time" class="block text-sm font-medium leading-6 text-gray-900">Hora<span
                      class="text-red-600 font-bold"> *</span></label>
                </div>
                <input name="time" required type='time' id="time" step="600"
                  class="px-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6" />
              </div>
            </div>
          </div>
          <div class="px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
            <button type="submit"
              class="inline-flex w-full justify-center rounded-lg bg-blue-600 px-5 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 sm:ml-3 sm:w-auto">
              Salvar
            </button>
            <button type="button" @click="newReserveModal.close()"
              class="mt-3 inline-flex w-full justify-center rounded-lg bg-white px-5 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>